<link rel="stylesheet" href="~/css/contact.css">
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Electronics Shop<br />
    Kumanovo, Macedonia<br />
    <abbr title="Phone">P:</abbr>
    +38970550660
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>